<h1>Listing films</h1>

<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Length</th>
    <th>Synopsis</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @films.each do |film| %>
  <tr>
    <td><%= link_to(film.title, film_path(film)) %></td>
    <td><%= film.length %></td>
    <td><%= film.synopsis[0..100] %></td>
    <td><%= link_to 'Show', film %></td>
    <td><%= link_to 'Edit', edit_film_path(film), :class => "btn btn-warning" %></td>
    <td><%= link_to 'Destroy', film, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Film', new_film_path, :class => "btn" %>
